.tracks-title {
    text-align: center;
    margin-bottom: 50px;
}

.track-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-item p {
    display: block;
    width: 200px;
}

.track-album-name {
    text-align: center;
    margin-bottom: 50px;
}

.album-title {
    font-size: 18px;
    font-weight: 600;
}